<!DOCTYPE html>
<html>

  <head>
    <link href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/shift.css" rel="stylesheet">
    <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
    <%= stylesheet_link_tag 'application.css' %>
    <%= csrf_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "splashAnimation" %>
    <meta name="google-site-verification" content="jjAXwigotxYHIOS-Qztrr-xzyPahg7sBqodWNQJK0nY" />
  </head>

  <body style="background-color:black">

  <div id="complete">You're on the list, bruh. Hope you're ready to get like Soulja Boy and turn your swag on.</div>

</body>
</html>
